[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "~= 4.6"
pytest-cov = "~= 2.8"
pytest-flake8 = "~= 1.0"

[packages]
scipy = "~= 1.4"

[requires]
python_version = "3.8"
