---
version: 2.1
jobs:
  build:
    docker:
      - image: circleci/python:3.8.0
    steps:
      - checkout
      - run:
          name: Install pipenv
          command: pip install pipenv
      - run:
          name: Install dependencies
          command: pipenv install
      - run:
          name: Run pytest
          command: pipenv run pytest --junitxml=junit.xml
      - store_test_results:
          path: junit.xml
